@import url("https://fonts.googleapis.com/css?family=Lato:400,700");
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #4c4c6a;
  border-radius: 2px;
}

.msgContainer {
  position: relative;
  display: inline-block;
  width: 100%;
  overflow: hidden;
}

.chatbox {
  position: relative;
  left: 35%;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 15px rgba(119, 119, 119, 0.5);
          box-shadow: 5px 5px 15px rgba(119, 119, 119, 0.5);
  width: 40vw;
  height: 80vh;
  max-height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.topbar {
  width: 100%;
  height: 10%;
  background: #f9ffff;
  border-radius: 10px 10px 0 0;
}

.avatar {
  width: 35px;
  height: 35px;
  background: -webkit-gradient(linear, right top, left bottom, color-stop(20%, #79c7c5), to(#a1e2d9));
  background: linear-gradient(to bottom left, #79c7c5 20%, #a1e2d9 100%);
  border-radius: 50%;
  position: absolute;
  top: 11px;
  left: 15px;
}

.avatar p {
  color: #f9ffff;
  margin: 7px 12px;
}

.name {
  position: absolute;
  top: 22px;
  text-transform: uppercase;
  color: #777777;
  font-size: 0.8em;
  letter-spacing: 2px;
  font-weight: 500;
  left: 60px;
}

.icons {
  position: absolute;
  color: #a1e2d9;
  padding: 10px;
  top: 5px;
  right: 21px;
  cursor: pointer;
}

.icons .fas {
  padding: 5px;
  opacity: 0.8;
}

.icons .fas:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.middle {
  position: relative;
  background: #f9ffff;
  width: 100%;
  opacity: 0.9;
  top: 10%;
  height: 80%;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  max-height: calc(100% - 60px);
  overflow: auto;
  scrollbar-width: none;
}

.bubble {
  position: relative;
  display: inline-block;
  color: #f9ffff;
  font-size: 0.7em;
  padding: 10px 10px 10px 12px;
  border-radius: 20px;
  font-size: 11pt;
  line-height: 18pt;
}

.incoming {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.2rem;
  border-radius: 0 6px 6px 0;
  max-width: 80%;
  width: auto;
  float: left;
}

.incoming .bubble {
  background: #b2b2b2;
}

.outgoing {
  position: relative;
  right: 0;
  border-radius: 0 6px 6px 0;
  max-width: 80%;
  width: auto;
  float: right;
}

.outgoing .bubble {
  background: #79c7c5;
  float: right;
}

.bottombar {
  position: relative;
  width: 100%;
  height: 10%;
  bottom: 0;
  background: #f9ffff;
  border-radius: 0 0 10px 10px;
}

.left {
  left: 0px;
}

.chatinput input {
  padding: 7px;
  width: 74%;
  left: 5%;
  position: absolute;
  border: 0;
  top: 13px;
  background: #f9ffff;
  color: #79c7c5;
}

.chatinput input::-webkit-input-placeholder {
  color: #a1e2d9;
}

.chatinput input:-ms-input-placeholder {
  color: #a1e2d9;
}

.chatinput input::-ms-input-placeholder {
  color: #a1e2d9;
}

.chatinput input::placeholder {
  color: #a1e2d9;
}

.chatinput input:focus {
  color: #777777;
  outline: 0;
}

.chatinput button {
  position: absolute;
  border: 0;
  font-size: 1em;
  color: #a1e2d9;
  top: 19px;
  opacity: 0.8;
  right: 17px;
  cursor: pointer;
  outline: 0;
}

.chatinput button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #79c7c5;
}

.dots {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #79c7c5;
  -webkit-box-shadow: 0px 7px 0px #79c7c5, 0px 14px 0px #79c7c5;
          box-shadow: 0px 7px 0px #79c7c5, 0px 14px 0px #79c7c5;
}

.menu {
  position: absolute;
  right: 10px;
  top: 20px;
  width: 10px;
  height: 20px;
  cursor: pointer;
}

.menu:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
}

.modal {
  position: fixed;
  margin: auto;
  width: 50%;
  border-radius: 1.5rem;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 30;
  -webkit-animation: slide-down 300ms ease-out forwards;
          animation: slide-down 300ms ease-out forwards;
}

@-webkit-keyframes bounce {
  30% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
  60% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  80% {
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 0.5;
  }
}

@keyframes bounce {
  30% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
  60% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  80% {
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 0.5;
  }
}

/*chat messages */
/*# sourceMappingURL=Chatbot.module.css.map */