@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caladea:wght@400;700&display=swap");
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #4c4c6a;
  border-radius: 2px;
}

.msgContainer {
  position: relative;
  display: inline-block;
  width: 100%;
  overflow: hidden;
}

.chatbox {
  position: relative;
  margin-left: auto;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 15px rgba(50, 41, 55, 0.5);
          box-shadow: 5px 5px 15px rgba(50, 41, 55, 0.5);
  width: 80vw;
  height: 80vh;
  max-width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media (max-width: 575px) {
  .chatbox {
    border-radius: 0px;
    height: 96vh;
    width: 100vw;
  }
}

.modal {
  position: fixed;
  border-radius: 1.5rem;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 30;
  -webkit-animation: slide-down 300ms ease-out forwards;
          animation: slide-down 300ms ease-out forwards;
}

@media (max-width: 575px) {
  .modal {
    border-radius: 0px;
  }
}

.bottomref {
  position: relative;
  bottom: 0;
}

.topbar {
  position: relative;
  width: 100%;
  height: 10%;
  background: #ffffff;
  border-radius: 10px 10px 0 0;
}

@media (max-width: 575px) {
  .topbar {
    border-radius: 0px;
  }
}

.middle {
  position: relative;
  background: #eae7e7;
  width: 100%;
  opacity: 1;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  word-spacing: 0.15ch;
  line-height: 2.5ch;
  height: 80%;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  max-height: calc(100% - 60px);
  overflow: auto;
}

.bottombar {
  position: relative;
  width: 100%;
  height: 10%;
  bottom: 0;
  background: #ffffff;
  border-radius: 0 0 10px 10px;
}

@media (max-width: 575px) {
  .bottombar {
    border-radius: 0px;
  }
}

.avatar {
  width: 35px;
  height: 35px;
  background: -webkit-gradient(linear, right top, left bottom, color-stop(20%, #4c99bf), to(#b0daff));
  background: linear-gradient(to bottom left, #4c99bf 20%, #b0daff 100%);
  border-radius: 50%;
  position: absolute;
  top: 11px;
  left: 15px;
}

.avatar p {
  color: #ffffff;
  margin: 7px 12px;
}

.name {
  position: absolute;
  top: 22px;
  text-transform: uppercase;
  color: #322937;
  font-size: 0.8em;
  letter-spacing: 2px;
  font-weight: 500;
  left: 60px;
}

.icons {
  position: absolute;
  color: #4c99bf;
  padding: 10px;
  top: 5px;
  right: 21px;
  cursor: pointer;
}

.icons .fas {
  margin-left: 10px;
  padding: 5px;
  opacity: 0.8;
}

.icons .fas:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.cross {
  color: #4c99bf;
  padding: 10px;
  padding: 5px;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  cursor: pointer;
}

.cross:hover {
  -webkit-transform: scale(2);
          transform: scale(2);
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}

.exitbutton {
  border: 0;
  outline: 0;
  position: relative;
  left: 10px;
  background: #ffffff;
}

.bubble {
  position: relative;
  display: inline-block;
  color: #ffffff;
  padding: 10px 10px 10px 12px;
  border-radius: 20px;
}

.incoming {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.3rem;
  border-radius: 0 6px 6px 0;
  max-width: 80%;
  width: auto;
  float: left;
}

.incoming .bubble {
  background: #6f5b7a;
}

.outgoing {
  position: relative;
  right: 0;
  padding: 0.3rem;
  border-radius: 0 6px 6px 0;
  max-width: 80%;
  width: auto;
  float: right;
}

.outgoing .bubble {
  background: #4c99bf;
  float: right;
}

.left {
  left: 0px;
}

.chatinput input {
  padding: 7px;
  width: 74%;
  left: 5%;
  position: absolute;
  border: 0;
  top: 13px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 11pt;
  background: #ffffff;
  color: #4c99bf;
}

.chatinput input::-webkit-input-placeholder {
  color: #4c99bf;
}

.chatinput input:-ms-input-placeholder {
  color: #4c99bf;
}

.chatinput input::-ms-input-placeholder {
  color: #4c99bf;
}

.chatinput input::placeholder {
  color: #4c99bf;
}

.chatinput input:focus {
  color: #322937;
  outline: 0;
}

.chatinput button {
  position: absolute;
  border: 0;
  font-size: 1em;
  color: #4c99bf;
  top: 19px;
  opacity: 0.8;
  right: 17px;
  cursor: pointer;
  outline: 0;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  background: #ffffff;
}

.chatinput button:hover {
  -webkit-transform: scale(2);
          transform: scale(2);
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  color: #4c99bf;
}

.menu {
  position: absolute;
  right: 10px;
  top: 20px;
  width: 10px;
  height: 20px;
  cursor: pointer;
}

.menu:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
}

@-webkit-keyframes bounce {
  30% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
  60% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  80% {
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 0.5;
  }
}

@keyframes bounce {
  30% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
  60% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  80% {
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 0.5;
  }
}

/*chat messages */
/*# sourceMappingURL=Chatbot.module.css.map */