@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  color: #2155cd;
  background-color: rgba(255, 0, 0, 0);
  margin: 0;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 1% 0 0 1%;
  padding-top: 0;
  width: 20vw;
  position: relative;
  min-width: 10rem;
}

header .divbtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40vw;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: center;
      align-content: center;
}

header .divbtn .btn1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 3vh;
  letter-spacing: 0.1em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  color: #112b3c;
  font-weight: 500;
  font-size: clamp(0.7rem, 1.2vw, 1.2rem);
  background-color: rgba(255, 0, 0, 0);
  outline: none;
  border: none;
}

header .divbtn button:hover {
  font-weight: 700;
  text-decoration: underline;
}

header .divbtn .topbtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.centered {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 2.25rem;
  max-width: 30ch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin: auto;
  color: #112b3c;
}

.centered img {
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.centered span {
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  max-width: 55ch;
  line-height: 1.5em;
}

@media (max-width: 575px) {
  .centered p {
    margin-left: 5px;
    margin-right: 5px;
  }
}

.centered button {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  padding: 1em;
  width: 15rem;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-radius: 25px;
  outline: none;
  border: none;
  color: white;
  background-color: #112b3c;
}

.centered button:hover {
  background-color: #205375;
}

.article1 {
  padding: 5em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  max-width: 60%;
  margin: auto;
  row-gap: 1.5rem;
  -webkit-column-gap: 10rem;
          column-gap: 10rem;
}

@media (max-width: 720px) {
  .article1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1.5em;
}

.blocks p {
  font-weight: 400;
  text-align: center;
  font-size: 1rem;
}

.blocks span {
  text-align: center;
}

#security {
  -webkit-transform: translate(0rem, -0.75rem);
          transform: translate(0rem, -0.75rem);
}

#blue {
  margin-top: -1rem;
  background-color: #95d1cc;
}

.top {
  background-image: url(../images/wave3.svg), linear-gradient(109.6deg, #3df5a7 11.2%, #096fe0 91.1%);
  background-size: auto auto, 100%;
  background-position: bottom;
  background-repeat: no-repeat, no-repeat;
}

.article2 {
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  max-width: 80%;
  margin-top: 1rem;
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
  row-gap: 0rem;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 720px) {
  .article2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.article2 .block2 {
  max-width: 40ch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.article2 .block2 .img {
  margin: 1rem;
  width: 30vw;
  min-width: 15em;
}

.article2 .block2 p {
  font-weight: 400;
  text-align: left;
  font-size: 0.8rem;
  line-height: 1.5em;
}

.article2 .block2 span {
  line-height: 1.2em;
  text-align: left;
  font-size: 2.25rem;
}

.article2 .block2 a {
  color: #205375;
}

.article3 {
  display: -ms-grid;
  display: grid;
  max-width: 80%;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  margin: auto;
  color: #faffaf;
  grid-column-gap: 2rem;
  padding: 10rem 0rem 15rem 0rem;
}

@media (max-width: 720px) {
  .article3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.article3 .box1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / span 1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / span 1;
  position: relative;
  z-index: 5;
}

.article3 .box2 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / span 1;
}

.article3 .box3 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / span 1;
}

.article3 .quotes {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / span 1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / span 1;
  z-index: 1;
  width: 3vw;
  height: 4vw;
  position: absolute;
  top: -3rem;
  left: -0.5rem;
}

.article3 div {
  height: auto;
  background-color: #2155cd;
  padding: 1rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  border-radius: 0.5em;
}

@media (max-width: 720px) {
  .article3 div {
    margin-bottom: 1rem;
  }
}

.article3 div p {
  font-weight: 400;
  line-height: 1.5em;
  font-size: 0.9rem;
}

.article3 div span {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 70%;
      grid-template-columns: 20% 70%;
  -ms-grid-rows: 30% 30%;
      grid-template-rows: 30% 30%;
      grid-template-areas: "pic p1" "pic p2";
}

.article3 div span .p1 {
  font-weight: 700;
  font-size: 0.8rem;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: p1;
}

.article3 div span .p2 {
  font-size: 0.6rem;
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: p2;
}

.article3 div span .pic {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: pic;
}

.article3 img {
  width: 2rem;
  border-radius: 100%;
  margin-top: 1rem;
}

.article4wrapper {
  position: relative;
  width: 100%;
}

.article4wrapper .article4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  max-width: 700px;
  position: absolute;
  padding: 4%;
  max-height: -webkit-min-content;
  max-height: -moz-min-content;
  max-height: min-content;
  top: 50%;
  /* position the top  edge of the element at the middle of the parent */
  left: 50%;
  /* position the left edge of the element at the middle of the parent */
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #205375;
  background-color: #faffaf;
  border-radius: 0.5rem;
}

.article4wrapper .article4 button {
  height: 3rem;
  border-radius: 25px;
  margin-left: 2rem;
  font-family: "Raleway", sans-serif;
  padding: 1em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 25px;
  outline: none;
  border: none;
  color: white;
  background-color: #112b3c;
}

.article4wrapper .article4 button:hover {
  background-color: #205375;
}

.article4wrapper .article4 span {
  text-align: center;
  font-size: 2rem;
}

.article4wrapper .article4 p {
  max-width: 60ch;
  line-height: 1.5em;
  text-align: center;
  font-weight: 400;
  font-size: 1rem;
  margin: auto;
  margin-bottom: 2rem;
}

.article4wrapper .article4 div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.article4wrapper .article4 .sameline {
  margin: auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.article4wrapper .article4 .sameline span {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.article4wrapper .article4 .sameline button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.article4wrapper .article4 .sameline input {
  width: 60%;
  border-radius: 25px;
  border: 1px solid #112b3c;
  margin: auto;
  height: 2.75rem;
  outline: none;
  margin-bottom: 1rem;
  font-size: 1rem;
  background-color: #faffaf;
  padding: auto;
  cursor: pointer;
  -webkit-box-shadow: inset 0 0 0 0 #03adfc;
          box-shadow: inset 0 0 0 0 #03adfc;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: inline-block;
  padding: 0 20px;
}

@media (max-width: 575px) {
  .article4wrapper .article4 .sameline {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .article4wrapper .article4 .sameline button {
    margin: auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.article5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background-color: #2155cd;
  color: #faffaf;
  padding-top: 15rem;
  padding-bottom: 5rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  margin: 0;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.article5 div {
  width: 30%;
}

@media (max-width: 575px) {
  .article5 div {
    width: 100%;
  }
}

.article5 .box2 {
  width: 20%;
}

.article5 .box2 .highlighted {
  font-weight: 400;
  font-size: 16pt;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.article5 .box1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  width: 30%;
  margin: auto;
}

.article5 .box1 div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  margin-top: 0;
}

.article5 .box1 span {
  font-weight: 400;
  font-size: 16pt;
}

.article5 span {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.article5 span img {
  margin-right: 1ch;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.article5 #reallogo {
  margin: auto;
  margin-top: 0;
}

.article5 .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 2rem;
}

.article5 .logo .location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 16pt;
}

.article5 .logo img {
  margin: 1ch;
}

.article5 p {
  line-height: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.article5 img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

aside .article4 div {
  border-radius: 5px;
  z-index: 4;
  margin-bottom: -8rem;
  background-color: #faffaf;
}

@media (max-width: 575px) {
  header {
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 4%;
  }
  .centered span {
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .article4 {
    margin-top: 0;
    padding: 0;
  }
  .article4 p {
    margin-bottom: 1rem;
  }
  .article4 .sameline input {
    margin-bottom: 1rem;
  }
  .article4 .sameline button {
    margin-bottom: 1rem;
  }
  .article5 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .article5 .box1 {
    width: 100%;
  }
  .article5 .box2 {
    width: 100%;
    margin-bottom: 2rem;
    margin: auto;
  }
}
/*# sourceMappingURL=Footer.module.css.map */